<h1 style="text-align: center;">Dashboard</h1>
<table mat-table [dataSource]="listNasaApi" class="mat-elevation-z8" style="width: 80%; margin: auto;">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef> Imagen </th>
    <td mat-cell *matCellDef="let element"> <img [src]=element.url width="100px" height="100px"> </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Titulo </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getDetail(row)" [routerLink]="['/detalle/', row.date]"></tr>
</table>

